@charset "UTF-8";
/* CSS Document */
html {
	background-color: #ffffff;	
}
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	background-color: #FFF;
	margin: 0 auto; 
	padding-left: 10px;
}

.header {
	background-color: #ADB96E;
	height:90px;
	text-indent: 10px
}

.sidebar1 {
	float: left;
	width: 300px;
	background-color: #EADCAE;
}
.content {

	padding: 10px 0;
/*	width: 780px;*/
	float: left;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}

ul.nav {
	list-style: none; 
	text-indent: 10px;
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 280px;  
	text-decoration: none;
	background-color: #C6D580;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #ADB96E;
	color: #FFF;
}
ul.title{
	list-style: none;
	border-top: 1px solid #666; 
	border-bottom: 1px solid #666;
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 280px;  
	text-decoration: none;
	background-color: #C6D580;
}
	
.footer {
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;
	height:90px;
	clear: both; 
}

.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}